{%extends 'accounts/main1.html'%} {%load crispy_forms_tags%} {%block title%}
Home {%endblock%} {%block search%}
<section class="ftco-section ftco-no-pb bg-light">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Browse Dealers</span>
        <h2 class="mb-4">Advanced Search</h2>
      </div>
    </div>
    <div class="row">
      <div class="ftco-search">
        <div class="row">
          <div class="col-md-12 nav-link-wrap">
            <div
              class="nav nav-pills text-center"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                class="nav-link active text-white mr-md-1"
                style="background-color: forestgreen"
                id="v-pills-1-tab"
                data-toggle="pill"
                href="#v-pills-1"
                role="tab"
                aria-controls="v-pills-1"
                aria-selected="true"
                >Find a Dealer</a
              >
            </div>
          </div>
          <div class="col-md-12 tab-wrap">
            <div class="tab-content p-4" id="v-pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="v-pills-1"
                role="tabpanel"
                aria-labelledby="v-pills-nextgen-tab"
              >
                <form action="#" class="search-job">
                  <div class="row no-gutters">
                    <div class="col-md mr-md-2">
                      <div class="form-group">
                        <div class="form-field">
                          <div class="icon"><i class="fa fa-user"></i></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md mr-md-2">
                      <div class="form-group">
                        <div class="form-field">
                          <div class="select-wrap">
                            <div class="icon">
                              <span class="ion-ios-arrow-down"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md mr-md-2">
                      <div class="form-group">
                        <div class="form-field">
                          <div class="icon">
                            <span class="icon-map-marker"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-group">
                        <div class="form-field">
                          <button
                            type="submit"
                            class="form-control btn btn-primary"
                          >
                            Search
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%} {%block content%}
<div class="row">
  <div class="col-sm-12 ftco-animate">
    <div
      class="job-post-item p-4 d-block d-lg-flex align-items-center"
      align="center"
    >
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-3">
            <div class="img">
              <img
                class="rounded-circle"
                src=""
                height="200px"
                width="200px"
                alt=""
              />
            </div>
          </div>
          <div class="col-sm-9">
            <div class="text pl-md-4 text-left">
              <span class="location mb-0 text-dark"
                ><span class="icon-my_location"></span>
              </span>
              <h2>
                <i class="fa fa-user fa-sm text-muted"></i>
              </h2>

              <span class="position"
                ><i class="fa fa-tag fa-rotate-90"></i>
              </span>
              <p class="mb-2 text-dark"></p>
              <span class="seen text-dark"
                ><i class="fa fa-clock-o"></i> Joined ago
              </span>
              <p>
                <a href="" class="btn mt-2" style="border-color: forestgreen"
                  >View Supplier</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%} {%block side%}

<div class="sidebar-box bg-white p-4 ftco-animate">
  <h3 class="heading-sidebar">Browse Category</h3>
  <form action="#" class="search-form mb-3">
    <div class="form-group">
      <span class="icon icon-search"></span>
      <input type="text" class="form-control" placeholder="Search..." />
    </div>
  </form>
  <form method="get" action="" class="browse-form">
    <button class="btn btn-outline-primary btn-sm">Filter</button>
  </form>
</div>
<div class="sidebar-box bg-white p-4 ftco-animate">
  <h3 class="heading-sidebar">Browse By Location</h3>
  <form action="#" class="search-form mb-3">
    <div class="form-group">
      <span class="icon icon-search"></span>
      <input type="text" class="form-control" placeholder="Search..." />
    </div>
  </form>
  <form method="get" action="" class="browse-form">
    <button class="btn btn-outline-primary btn-sm">Filter</button>
  </form>
</div>
<div class="sidebar-box bg-white p-4 ftco-animate">
  <h3 class="heading-sidebar">Browse By Response Time</h3>
  <form action="#" class="search-form mb-3">
    <div class="form-group">
      <span class="icon icon-search"></span>
      <input type="text" class="form-control" placeholder="Search..." />
    </div>
  </form>
  <form method="get" action="" class="browse-form">
    <button class="btn btn-outline-primary btn-sm">Filter</button>
  </form>
</div>

{%endblock%}
