<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="category-wrap" style="border-radius: 35px">
          <div
            class="card-header"
            style="background-color: forestgreen; color: white"
          >
            <a class="text-white">BROWSE BY <b>CATEGORY</b></a>
            <a href="" class="fa fa-list text-white float-right"></a>
          </div>
          <div class="row no-gutters">
            <div class="col-md-2">
              <div class="top-category text-center no-border-left">
                <a href=""
                  ><h3></h3>
                  <!-- <span class="icon flaticon-contact"></span> -->
                  <i
                    class="fa fa-spinne fa-pulse fa-3x"
                    style="color: #ff8b00"
                  ></i>
                  <p><span class="number"></span> <span>Suppliers</span></p></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
